.buttomCreateJob{
  .div-btn{
    width: 50px;
    margin: 100px;
    button{
    background: none;
    outline: none;
    border: none;
    width: 40px;
    height: 40px;
    }
  }
 
}
.button-btn{
  background: #D8E9A8 !important;
  height: 45px;
}
 .button-submit{
  background: #4E9F3D !important;
  height: 45px;
  color: #fff !important;
}
.btn{
  height: 45px;
  border: none !important;
}